@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/ClearSans-Regular.woff2') format('woff2'),
         url('/fonts/ClearSans-Regular.woff') format('woff'),
         url('/fonts/ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

#regForm{
    display: flex;
    justify-content: center;
}

body {
    padding-top: 120px;
    font-family: 'Clear Sans', sans-serif;
    background-color: #4C4C4C;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;

}
/* Оформлення заголовка */
h1 {
    margin-top: 140px;
    color: #444;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Оформлення форми */
form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Стилі для полів вводу */
form label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Стилі для кнопки */
form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}

/* Додаткові стилі */
form input:focus,
form button:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
