#backphoto {
    background-size: cover;
    background-image: url(../img/nakidkiBlure.png);
    height: 400px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
