#backphoto {
    background-size: cover;
    background-image: url(../img/EVABlure.png);
    height: 230px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#BannerTextNmaeOfCategoryEvaCarpets{
    font-size: 70px;
    color: #fcfcfc;
    margin: 0;
    padding: 0;
}

@media (max-width: 1200px) {


    #BannerTextNmaeOfCategoryEvaCarpets {
        font-size: 50px; /* Зменшуємо розмір тексту */
    }
}

@media (max-width: 768px) {


    #BannerTextNmaeOfCategoryEvaCarpets {
        font-size: 40px; /* Ще менший розмір тексту */
    }
}

@media (max-width: 480px) {

    #BannerTextNmaeOfCategoryEvaCarpets {
        font-size: 25px; /* Зменшуємо розмір тексту для маленьких екранів */
    }
}

