@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/ClearSans-Regular.woff2') format('woff2'),
         url('/fonts/ClearSans-Regular.woff') format('woff'),
         url('/fonts/ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
footer {
    background-color: #e0e3e3;
    height: 140px; /* Зробимо висоту адаптивною */
    display: flex;
    justify-content: center; /* Центруємо елементи по горизонталі */
    align-items: center; /* Вирівнюємо елементи по вертикалі */
    flex-wrap: wrap; /* Дозволяємо обтікання елементів */
    font-size: 20px;
}
#telNum,#CorName{
    color: black;
}


/* Відступи для елементів футера на великих екранах */
#instaLogo, #faceBookLogo, #TikTokImg {
    margin-right: 20px; /* Горизонтальний відступ між логотипами */
}
#telDiv, #mapDiv {
    display: flex;
    align-items: center;
    text-align: left; /* Вирівнюємо текст ліворуч для телефонів і адреси */
    margin-left: 20px; /* Відступ між логотипами та інформаційними блоками */
}

/* Відступи для зображень у інформаційних блоках */
#telImg, #mapImg {
    margin-right: 20px; /* Відступ між картинкою та текстом */
}

/* Адаптивність для менших екранів */
@media (max-width: 768px) {
    footer {
        padding-top: 10px;
        flex-direction: column; /* Вертикальне розташування */
        height: auto; /* Динамічна висота */
        align-items: center; /* Центруємо елементи */
    }

    /* Вертикальні відступи для елементів */
    #instaLogo, #faceBookLogo, #TikTokImg {
        margin-right: 0; /* Скасовуємо горизонтальні відступи на малих екранах */
        margin-bottom: 15px; /* Вертикальний відступ між логотипами */
    }

    #telDiv, #mapDiv {
        justify-content: center; /* Центруємо контент телефонів і мапи */
        text-align: center;
        margin-left: 0; /* Скасовуємо лівий відступ */
        margin-top: 10px; /* Додаємо відступ між блоками */
    }
}