
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');




html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Clear Sans', sans-serif;
    background-color: #4C4C4C;

}

#backphoto {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: url(../img/MInterior.png);
    height: 380px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#DescriptionAutoMajorBackphotoDiv{
    font-family: 'Gentium Book Plus', serif;
    color: white;
    font-size: 20px;
}
#DescriptionAutoMajorBackphotoDiv2{
    font-family: 'Gentium Book Plus', serif;
    color: white;
    font-size: 20px;
}


/* Стилі для анімації підстрибування при наведенні */
.gallery-item img {
    border-radius: 20px;
    width: 350px;
    height: 340px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Додаємо плавний перехід */
}

/* Анімація підстрибування при наведенні */
.gallery-item:hover img {
    transform: translateY(-10px); /* Піднімаємо зображення на 10px */
}

.gallery-item p {
    color: #ffffff;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


/* Стиль для заголовка */
#MajorName {
    font-family: 'Gentium Book Plus', serif;
    font-size: 70px;
    color: #fcfcfc;
    margin: 0;
    padding: 0;
}

/* Адаптація для малих екранів */
@media (max-width: 1200px) {
    
    #backphoto {
        height: 400px; /* Зменшуємо висоту для середніх екранів */
    }

    #MajorName {
        font-size: 50px; /* Зменшуємо розмір тексту */
        padding-top: 3%; /* Зміщуємо текст */
    }
}

@media (max-width: 768px) {
    #backphoto {
        height: 400px; /* Зменшуємо висоту для планшетів */
    }

    #MajorName {
        font-size: 40px; /* Ще менший розмір тексту */
        padding-top: 10%;
    }
}

@media (max-width: 480px) {
    #DescriptionAutoMajorBackphotoDiv2{
        font-size: 15px;
    }
    .text_container{
        margin: 0;
    }

    #DescriptionAutoMajorBackphotoDiv{
        font-size: 15px;
    }
    #backphoto {
        height: 300px; /* Зменшуємо висоту для смартфонів */
    }

    #MajorName {
        font-size: 45px; /* Зменшуємо розмір тексту для маленьких екранів */
        padding-top: 5%;
    }
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки, рівної ширини */
    gap: 20px; /* Проміжок між елементами */
}

.gallery-item {
    text-align: center; /* Центрування тексту під картинкою */
}

.gallery-item img {
    border-radius: 20px;
    width: 350px; /* Фіксована ширина */
    height: 340px; /* Фіксована висота */
    object-fit: cover; /* Забезпечує коректне відображення зображення в межах заданого розміру */
}

.gallery-item p {
    color: #ffffff;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
@media (max-width: 1200px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки при ширині екрану менше 1200px */
    }
}

@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr); /* 1 колонка при ширині екрану менше 768px */
    }
}




#OurPoslugi{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 60px;
}

#AboutUsText{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 40px;
}
h1{
    color: #E0FF22;
}
.aboutText{
    text-align: left;
    font-size: 25px;
    color: #D9D9D9;
}


#infoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Розташування блоків по центру */
    flex-wrap: wrap; /* Дозволяє переносити блоки на новий ряд при необхідності */
    padding: 20px;
    margin-top: 50px;
}

#infoDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-image: url(../img/mainTextBackDiv_LE_upscale_magic_x4_strength_75_similarity_100.jpg);
    background-size: cover;
    
}
@media (max-width: 1285px) {
    #infoDiv{
        background-image: url(../img/mainTextBackDivForLittleScreen.jpg);
    }

}

.about_text {

    text-align: center;
    font-size: 36px;
    width: 100%; /* Заголовок займає всю ширину контейнера */
    margin-bottom: 40px; /* Відступ від заголовка до блоків з текстом */
}

.text_container {
    background-color: rgb(110, 110, 110,68%) ;
    flex: 1;
    max-width: 258px;
    font-size: 20px;
    margin: 60px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: white;
}

/* Адаптація для середніх екранів (планшети) */
@media (max-width: 768px) {
    #infoDiv {
        flex-direction: column;
        align-items: center;
    }

    .text {
        max-width: 90%;
    }

    .about_text {
        font-size: 32px;
    }
}

/* Адаптація для маленьких екранів (мобільні пристрої) */
@media (max-width: 480px) {
    .text_container{
       margin: 10px;
    }
    #infoDiv{
        background-image: url(../img/mainTextBackDivForLittleScreen.jpg);
    }

    .text {
        max-width: 100%;
        margin: 10px 0;
    }

    .about_text {
        font-size: 28px;
    }
}


/* Початковий стан - приховані елементи */
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Коли елемент стає видимим */
.show {
    opacity: 1;
    transform: translateY(0);
}

