
#textExplainDiv{
    background-color: #8a858570;
    padding: 30px;
    border-radius: 20px;
}

#backphoto {
    background-size: cover;
    background-image: url(../img/MansoryBlure.png);
    height: 690px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

