#backphoto {
    background-size: cover;
    background-image: url(../img/peretiazkaBlure.png);
    height: 230px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#BannerTextNmaeOfCategoryRestavrationMebliv{
    font-size: 70px;
    color: #fcfcfc;
    margin: 0;
    padding: 0;
}

@media (max-width: 1200px) {


    #BannerTextNmaeOfCategoryRestavrationMebliv {
        font-size: 50px; /* Зменшуємо розмір тексту */
        padding-top: 15%; /* Зміщуємо текст */
    }
}

@media (max-width: 768px) {


    #BannerTextNmaeOfCategoryRestavrationMebliv {
        font-size: 40px; /* Ще менший розмір тексту */
        padding-top: 10%;
    }
}

@media (max-width: 480px) {

    #BannerTextNmaeOfCategoryRestavrationMebliv {
        font-size: 25px; /* Зменшуємо розмір тексту для маленьких екранів */
        padding-top: 5%;
    }
}
