@font-face {
    font-family: 'Clear Sans';
    src: url('/fonts/ClearSans-Regular.woff2') format('woff2'),
         url('/fonts/ClearSans-Regular.woff') format('woff'),
         url('/fonts/ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}



#slider {
    position: relative;
    transition: padding 0.3s ease; /* Плавна зміна відступів */
}

#slider.loading {
    padding-top: 40px;
    padding-bottom: 40px;
}

.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}




body {
    font-family: 'Clear Sans', sans-serif;
    background-color: #4C4C4C;

}
#listOptions{
    text-align: center;
}
#workTime{
    text-align: center;
}

#textExplainDiv{
    background-color: #8a858570;
    padding: 30px;
    border-radius: 20px;
}
#DivTitle{
    font-size: 70px;
    color: #fcfcfc;
    margin: 0;
    padding: 0;
}
@media (min-width: 1200px) {
    #textDec{
        margin-left: 25%;
    }
}
/* Адаптація для малих екранів */
@media (max-width: 1200px) {
    #backphoto {
        height: 500px; /* Зменшуємо висоту для середніх екранів */
    }
    #textDec{
        margin-left: 15%;
    }

    #DivTitle {
        font-size: 50px; /* Зменшуємо розмір тексту */
        padding-top: 15%; /* Зміщуємо текст */
    }
}

@media (max-width: 768px) {
    #backphoto {
        height: 400px; /* Зменшуємо висоту для планшетів */
    }
    #textDec{
        margin-left: 0px;
    }

    #DivTitle {
        font-size: 40px; /* Ще менший розмір тексту */
        padding-top: 10%;
    }
}

@media (max-width: 480px) {
    #backphoto {
        height: 300px; /* Зменшуємо висоту для смартфонів */
        padding-left: 50px;
        padding-right: 50px;
    }
    #textDec{
        margin-left: 100px;
    }
    #DivTitle {
        font-size: 25px; /* Зменшуємо розмір тексту для маленьких екранів */
        padding-top: 5%;
    }
}

p{
    text-align: justify;
    color: white;
}
h3{
    text-align: center;
    color: white;
}
