<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизація адміністратора</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <!--
     <h1>Реєстрація адміністратора</h1>
    <form action="/admin/register" method="POST"> 
        <label for="login">Логін:</label>
        <input type="text" id="login" name="login" required><br><br>
        
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Зареєструватися</button>
    </form> 
    -->

    <h1>Авторизація адміністратора</h1>
    <div id="regForm">
        <form action="/admin" method="POST"> <!-- Форма для авторизації -->
            <label for="login">Логін:</label>
            <input type="text" id="login" name="login" required><br><br>
            
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <button type="submit">Увійти</button>
        </form>
    </div>
</body>
</html>
