<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/MajorLogo.png" type="image/x-icon">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/ChohliCreation.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link href="https://fonts.googleapis.com/css2?family=Clear+Sans:wght@400;700&display=swap" rel="stylesheet">



</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryChohliCreation">ВИРОБНИЦТВО МОДЕЛЬНИХ АВТОЧОХЛІВ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
     </div>

     <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <span class="prev">&#10094;</span> <!-- Стрілка вліво -->
        <img id="modalImage" class="modal-content">
        <span class="next">&#10095;</span> <!-- Стрілка вправо -->
     </div>

     
     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Модельні авточохли рівня перетяжки</h1>
            <p><strong>Модельні авточохли – комфорт у салоні та надійний захист сидінь.</strong></p>
            <p>Маємо власне виробництво авточохлів та <a href="/MANUFACTURING_OF_CAR_COVERS">автонакидок</a> .</p>
            <p>У нас ви не знайдете стандартного макету по підбору чохлів , як на інших сайтах.  Бо в нас індивідуальний підхід до кожного замовника. А що стосується цін, то ціни такі як і в інших виробників і навіть нижчі . А от якість бездоганна. До того ж ми даємо гарантію не лише на вироби, а й на нашу роботу.</p>
            <h2>Наші авточохли відповідають таким вимогам:</h2>
            <ul>
                <li>ідеальна посадка;</li>
                <li>безпека;</li>
                <li>бездоганна якість;</li>
                <li>довговічність;</li>
                <li>практичність (простота в догляді);</li>
                <li>красивий сучасний дизайн.</li>
            </ul>
            <p>Ідельна посадка досягається завдяки точним лекалам. Це кропітка і відповідальна робота. Наші майстрині  проміряють кожну деталь сидіння авто, результат якої – ідеальна посадка чохлів.  З першого погляду не скажеш, що це дійсно авточохли.  Зовні це дуже схоже з професійною перетяжкою салону. </p>
            <p>Наші технологи, врахували наявні системи безпеки у конструкції авто. Чохли повністю сумісні з активними підголовниками, підігрівом, не заважають роботі електронних модулів та AirBag.  Подушка безпеки спрацьовує, не втрачаючи своїх властивостей. Для цього використовується послаблений шов у відповідних місцях. Авточохли витримують великі навантаження завдяки міцним швам та якісним матеріалам. </p>
            <h3>Ми даємо гарантію на наші вироби, тому обираємо якісні матеріали і контролюємо якість на всіх стадіях виробництва.</h3>
            <p>Чохли виготовляються виключно з гіпоалергенних, дихаючих, стійких до пошкоджень тканин які наділені антистатичними властивостями. </p>
            <p>Ми підібрали найкращі варіанти матеріалів та їх комбінацій між собою: екошкіру гладку та перфоровану, алькантару(антару), екозамш з водовідштовхувальним просоченням. Екошкіра за своїми властивостями добре тягнеться та тримає форму під час експлуатації. Не боїться перепадів температур на відміну від шкірзамінників. Матеріал алькантара (антара, екозамш) фактурою ідентичний натуральній замші, не ковзає, практично не парить влітку і зігріває взимку. Усі матеріали мають повітропроникні властивості, високу зносостійкість та легкість у догляді за ними. Гладку екошкіру в чохлах ми розташовуємо на бокових частинах сидіннь, позаду, на підголовниках. Перфоровану екошкіру, алькантару( екозамш, антару) в середній частині чохлів. </p>
            <p>Такі комбінації матеріалів забезпечують чохлам їх довготривале використання та ваш комфорт під час поїздок. </p>
            <p>Після встановлення чохлів ви забудете про сліди від ніг на спинках передніх сидінь - тепер щоб очисти все досить легкого вологого прибирання</p>
            <p>Щоб полегшити вам життя - ми <a href="/INSTALLATION_OF_CAR_COVERS">встановимо авточохли</a> . До того ж професійне встановлення продовжує строки експлуатації авточохлів. .</p>
            <p>Ми даємо гарантію також на нашу роботу. </p>
            <p>Звернувшись в АвтоМажор ви отримаєте бездоганний сервіс, гарантію якості  та збережете нервову систему від зайвих стресів</p>
        </div>
     </div>
     <div>
        <%- include('contact') %>
    </div>

    <footer>
        <%- include('footer') %>
    </footer>
    
    <script src="/js/photoloader.js"></script>
        <script>
             window.onload = function() {
             const category = 'IndividualChoxli'; // Категорія може бути динамічною
            loadPhotos(category);
             };
        </script>
</body>
</html>