<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/ChohliCreation.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="DivTitle">ВИРОБНИЦТВО МОДЕЛЬНИХ АВТОЧОХЛІВ</p>
     </div>

     <div id="textDiv">
        <h3>ВИРОБНИЦТВО МОДЕЛЬНИХ АВТОЧОХЛІВ</h2>
            <br>
         <p>  Наше автоательє не лише має власне виробництво , а також ми робимо встановлення авточохлів.
             До того ж ми надаємо послуги встановлення авточохлів , які ви купили в інших виробників. 
            Пам’ятайте  професійне встановлення продовжить строк служби авточохлів.
            <br>
            <br>
            Правильно встановленні чохли - гарантія бездоганної посадки на сидіннях вашого авто.
            Автомобільні чохли потрібно підбирати не універсальні, а під конкретну марку авто, так ви будете впевнені,
             що розмір чохлів і сидінь на 100% співпадуть між собою. 
            Встановлення може бути  стандартним або з ушиванням посадкових частин.
            Ми рекомендуємо робити з ушиванням. Чому? Тому що це по-перше продовжує строк служби, по-друге салон з модельними чохлами , які встановили з ушиванням виглядає ніби зроблено перетяжку  сидінь. Ми робимо підшивку авточохла до сидіння автомобіля. 
            
            </p>
                <br>
                <br>
            <h3>Як це відбувається?</h3>
                <br>
            <p id="listOptions">
                Щоб правильно і професійно встановити авточохли потрібно зняти  всі сидіння.
                 Одягнути авточохли. Встановити сидіння на місце.
                  Ну  і звісно не забути підключити всі фішечки , щоб все працювало і не видавало помилку
                </p>
             <br>
             <br>
             <p id="workTime">
                І скільки часу це займає?
             <br>
             По часу це займає 2 – 4 години. 
             <br>
             Ми даємо гарантію на роботу 1 рік!
            </p>
        
        
        
     </div>

     <div id="slider">
        <h3>НАШІ РОБОТИ</h3>
        <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
        <script>
             window.onload = function() {
             const category = 'IndividualChoxli'; // Категорія може бути динамічною
            loadPhotos(category);
             };
        </script>
</body>
</html>