<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/ChohliCreation.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">


</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="DivTitle">ВИРОБНИЦТВО МОДЕЛЬНИХ АВТОЧОХЛІВ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
     </div>

     <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Модельні авточохли рівня перетяжки</h1>
            <p><strong>Модельні авточохли – комфорт у салоні та надійний захист сидінь.</strong></p>
            <p>Маємо власне виробництво авточохлів та <a href="/MANUFACTURING_OF_CAR_COVERS">автонакидок</a> .</p>
            <p>У нас ви не знайдете стандартного макету підбору чохлів, як на інших сайтах, бо ми використовуємо індивідуальний підхід до кожного замовника. А що стосується цін – вони такі ж, як і в інших виробників, а іноді навіть нижчі. Проте якість у нас бездоганна. До того ж ми даємо гарантію не лише на вироби, а й на нашу роботу.</p>
    
            <h2>Наші авточохли відповідають таким вимогам:</h2>
            <ul>
                <li>ідеальна посадка;</li>
                <li>безпека;</li>
                <li>бездоганна якість;</li>
                <li>довговічність;</li>
                <li>практичність (простота в догляді);</li>
                <li>красивий сучасний дизайн.</li>
            </ul>
    
            <h2>Ідеальна посадка</h2>
            <p>Досягається завдяки точним лекалам. Це кропітка і відповідальна робота. Наші майстрині проміряють кожну деталь сидіння авто, що гарантує ідеальну посадку чохлів. З першого погляду здається, ніби це професійна перетяжка салону.</p>
    
            <h2>Безпека</h2>
            <p>Наші технологи врахували всі системи безпеки автомобіля. Чохли повністю сумісні з активними підголовниками, підігрівом, не заважають роботі електронних модулів та <strong>AirBag</strong>. Подушка безпеки спрацьовує без втрати властивостей завдяки послабленому шву у відповідних місцях. Авточохли витримують великі навантаження завдяки міцним швам і якісним матеріалам.</p>
    
            <h2>Якість матеріалів</h2>
            <p>Ми використовуємо тільки найкращі матеріали та контролюємо якість на всіх стадіях виробництва. Чохли виготовляються виключно з гіпоалергенних, дихаючих, стійких до пошкоджень тканин з антистатичними властивостями.</p>
    
            <h3>Матеріали:</h3>
            <ul>
                <li>гладка та перфорована екошкіра;</li>
                <li>алькантара (антара);</li>
                <li>екозамш з водовідштовхувальним просоченням.</li>
            </ul>
    
            <p><strong>Екошкіра</strong> добре тягнеться та зберігає форму під час експлуатації, не боїться перепадів температур. <strong>Алькантара (екозамш)</strong> ідентична натуральній замші, не ковзає, практично не нагрівається влітку та зігріває взимку. Усі матеріали повітропроникні, мають високу зносостійкість і легко очищуються.</p>
    
            <h2>Комбінація матеріалів</h2>
            <p>Гладку екошкіру ми використовуємо на бокових частинах сидінь, позаду та на підголівниках. Перфоровану екошкіру, алькантару або екозамш – у середній частині чохлів. Таке поєднання забезпечує довговічність авточохлів та комфорт у поїздках.</p>
    
            <h2>Легкість у догляді</h2>
            <p>Після встановлення чохлів ви забудете про сліди від ніг на спинках передніх сидінь – тепер для очищення достатньо легкого вологого прибирання.</p>
    
            <h2>Професійне встановлення</h2>
            <p>Щоб полегшити вам життя, ми не лише виготовляємо, а й <strong>встановлюємо авточохли</strong>. Професійне встановлення продовжує термін їх експлуатації. Ми даємо гарантію як на вироби, так і на роботу.</p>
    
            <p><strong>Звернувшись до "АвтоМажор", ви отримаєте бездоганний сервіс, гарантію якості та позбудетеся зайвих стресів.</strong></p>
        </div>

     </div>

    <footer>
        <%- include('footer') %>
    </footer>
    
    <script src="/js/translate/translateHeader.js" defer></script>
    <script src="/js/photoloader.js"></script>
        <script>
             window.onload = function() {
             const category = 'IndividualChoxli'; // Категорія може бути динамічною
            loadPhotos(category);
             };
        </script>
</body>
</html>