<div>
    <link rel="stylesheet" href="/css/contactStylisation.css">
    <!-- Кнопка відкриття форми -->
    <button id="openFormBtn">Є ПИТАННЯ НАПИШІТЬ НАМ</button>
    <!-- Модальне вікно -->
    <div id="modalWndwForContact" class="modalWndwForContact">
        <div class="modalWndwForContact-content">
            <span class="close">&times;</span>
            <h2 id="FeedbackH2Lable">Зворотній зв'язок</h2>
            <form id="contactForm">
                <div class="inputcontactFields">
                    <label for="name">Ім'я:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="inputcontactFields">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="inputcontactFields">
                    <label for="phone">Телефон:</label>
                    <input type="tel" id="phone" name="phone" required>
                </div>
                <div class="inputcontactFields">
                    <label for="question">Ваше питання:</label>
                    <textarea id="question" name="question" rows="1" placeholder="ваше питання...(не обов'яково)"></textarea>
                </div>
                <div class="buttons">
                    <button type="submit">ВІДПРАВИТИ</button>
                    <button type="button" id="closeFormBtn">ЗАКРИТИ</button>
                </div>
            </form>
            <p id="responseMessage"></p>
        </div>
    </div>
    <script src="/js/scriptForContact.js"></script>
    <script>
let lastScrollTopForbtn = window.pageYOffset || document.documentElement.scrollTop; // Ініціалізація початкової позиції скролу
const formButton = document.getElementById("openFormBtn");

window.addEventListener("scroll", function() {
    let currentScrollForButton = window.pageYOffset || document.documentElement.scrollTop;

    // Показуємо кнопку, коли скролимо вгору
    if (currentScrollForButton < lastScrollTopForbtn) {
        formButton.classList.remove("hidden-contact"); // Показуємо кнопку
    } else {
        formButton.classList.add("hidden-contact"); // Приховуємо кнопку
    }

    lastScrollTopForbtn = currentScrollForButton; // Оновлюємо останню позицію скролу
}, false);

    </script>
</div>
