<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/CreationNakidki.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="DivTitle">ВИРОБНИЦТВО АВТОНАКИДОК</p>
     </div>

     <div id="textDiv">
        <h3>ВИРОБНИЦТВО АВТОНАКИДОК</h2>
        <br>
        <br>
        <p>Автоательє АвтоМажор  виробник автомобільних накидок високої якості, що здатні перевтілити інтер'єр будь-якого авто! </p>
        <br>
        <br>
        <p>Універсальні, підходять на будь-яке авто. Також шиємо індивідуальні накидки, враховуючи ваші побажання.</p>
        <br>
        <p>
             Для виробництва накидок використовуються сучасні матеріали. Екошкіра та "дихаючі" матеріали  
             (алькантара, антара, екозамш, велюр) , що пропускають підігрів сидінь або вентиляцію. Не 
             парять влітку та зігрівають взимку
        </p>
        <br>
        <br>
        <h3>Накидки тришарові. </h3>
        <br>
        <br>
        <p>
            Лицьова сторона -  матеріал, що володіє високою стійкістю до ультрафіолетових променів та 
            різких перепадів температур, завдяки чому вони не линяють, не вицвітають . Вони будуть вірними 
            супутниками протягом багатьох років. 
        </p>
        <br>
        <p>
            Виворітна частина накидок, що контактує з поверхнею сидінь - це м'яка, але, при цьому міцна на 
            розрив тканина, яка відповідає за міцність накидок і збереження обшивки сидінь.          
        <br>    
            Посередині між цими тканинами розміщений наповнювач : поролон товщиною 10 мм. Наповнювач
            створює захисний прошарок, здатний утримувати тепло взимку і не дозволяє нагріватись поверхні накидок влітку. 
            Всі ці шари зшиті між собою міцною ниткою , утворюючи однорідне «дихаюче» полотно у вигляді рельєфних 3D ромбів та ламелі. 
            Не втрачають форму під час експлуатації         
        <br>
             Накидки на сидіння надійно встановлюються на сидіння за допомогою фастексів на резинках та липучок. Тому під час 
             руху накидки не "ковзатимуть" по сидінню завдяки чотириточковій фіксаціїї на посадці та фіксації під підголовником
        </p>
        <br>
     </div>

     <div id="slider">
        <h3>НАШІ РОБОТИ</h3>
        <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>
    

    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'InstalChohli'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>