<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/MajorLogo.png" type="image/x-icon">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/CreationNakidki.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link href="https://fonts.googleapis.com/css2?family=Clear+Sans:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryCreationNakidki">ВИРОБНИЦТВО АВТОНАКИДОК</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
         <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
         <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <span class="prev">&#10094;</span> <!-- Стрілка вліво -->
        <img id="modalImage" class="modal-content">
        <span class="next">&#10095;</span> <!-- Стрілка вправо -->
    </div>



     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Автонакидки</h1>
            <p><strong>Автоательє АвтоМажор</strong> — виробник автомобільних накидок високої якості, що здатні перевтілити інтер'єр будь-якого авто! </p>
            <p>Універсальні, підходять на будь-яке авто. Також шиємо індивідуальні накидки, враховуючи ваші побажання.</p>
            <p>Для виробництва накидок використовуються сучасні матеріали. Екошкіра та "дихаючі" матеріали  (алькантара, антара, екозамш, велюр) , що пропускають підігрів сидінь або вентиляцію. Не парять влітку та зігрівають взимку
            </p>
            <h2>Накидки тришарові:</h2>
            <ul>
                <li>Лицьова сторона -  матеріал, що володіє високою стійкістю до ультрафіолетових променів та різких перепадів температур, завдяки чому вони не линяють, не вицвітають . Вони будуть вірними супутниками протягом багатьох років. </li>
                <li>Виворітна частина накидок, що контактує з поверхнею сидінь - це м'яка, але, при цьому міцна на розрив тканина, яка відповідає за міцність накидок і збереження обшивки сидінь.</li>
                <li>Посередині між цими тканинами розміщений наповнювач : поролон товщиною 10 мм. Наповнювач створює захисний прошарок, здатний утримувати тепло взимку і не дозволяє нагріватись поверхні накидок влітку. Всі ці шари зшиті між собою міцною ниткою , утворюючи однорідне «дихаюче» полотно у вигляді рельєфних 3D ромбів. Не втрачають форму під час експлуатації</li>
                <li>Накидки на сидіння надійно встановлюються на сидіння за допомогою фастексів на резинках та липучок. Тому під час руху накидки не "ковзатимуть" по сидінню завдяки чотириточковій фіксаціїї на посадці та фіксації під підголовником</li>
            </ul>
        </div>

    </div>
    <div>
        <%- include('contact') %>
    </div>

    <footer>
        <%- include('footer') %>
    </footer>
    
    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'AvtoNakidki'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>