<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/CreationNakidki.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="DivTitle">ВИРОБНИЦТВО АВТОНАКИДОК</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
         <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
         <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <div id="imageModal" class="modal">
         <span class="close">&times;</span>
         <img id="modalImage" class="modal-content">
     </div>



     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Автонакидки</h1>
            <p>Автоательє АвтоМажор — виробник автомобільних накидок високої якості, що здатні перевтілити інтер'єр будь-якого авто! Універсальні, підходять на будь-яке авто. Також шиємо індивідуальні накидки, враховуючи ваші побажання.</p>
            <p>Для виробництва накидок використовуються сучасні матеріали. Екошкіра та "дихаючі" матеріали (алькантара, антара, екозамш, велюр), що пропускають підігрів сидінь або вентиляцію. Не парять влітку та зігрівають взимку.</p>

            <h2>Особливості накидок</h2>
            <p>Накидки тришарові:</p>
            <ul>
                <li><strong>Лицьова сторона:</strong> матеріал, що володіє високою стійкістю до ультрафіолетових променів та різких перепадів температур, завдяки чому вони не линяють, не вицвітають. Вони будуть вірними супутниками протягом багатьох років.</li>
                <li><strong>Виворітна частина:</strong> м'яка, але міцна на розрив тканина, яка відповідає за міцність накидок і збереження обшивки сидінь.</li>
                <li><strong>Наповнювач:</strong> поролон товщиною 10 мм, що створює захисний прошарок, здатний утримувати тепло взимку і не дозволяє нагріватись поверхні накидок влітку. Всі ці шари зшиті між собою міцною ниткою, утворюючи однорідне "дихаюче" полотно у вигляді рельєфних 3D ромбів. Накидки не втрачають форму під час експлуатації.</li>
            </ul>

            <h2>Як встановлюються накидки?</h2>
            <p>Накидки на сидіння надійно встановлюються на сидіння за допомогою фастексів на резинках та липучок. Тому під час руху накидки не "ковзатимуть" по сидінню завдяки чотириточковій фіксації на посадці та фіксації під підголовником.</p>
        </div>

    </div>

    <footer>
        <%- include('footer') %>
    </footer>
    
    <script src="/js/translate/translateHeader.js" defer></script>
    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'AvtoNakidki'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>