<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування Фото</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <header>
        <%- include('header') %>
    </header>

    <div class="linkPhoto">
        <a id="linkPhotoEDIT" href="/admin/edit/price">РЕДАГУВАННЯ ЦІН</a>
    </div>


    <main>
        <section class="form-section">
            <h2>Додати нове фото</h2>
            <form action="/admin/edit/add-photo" method="POST" enctype="multipart/form-data">
                <label for="category">Категорія:</label>
                <select id="category" name="category" required>
                    <option value="peretiazkaSalonu">Перетяжка салону</option>
                    <option value="peretiazkaWheel">Перетяжка Керма</option>
                    <option value="peretiazkaSteli">Перетяжка Стелі</option>
                    <option value="DoorKarts">Перетяжка дверних карт</option>
                    <option value="InstalChohli">Встановлення авточохлів</option>
                    <option value="IndividualChoxli">Виробництво модельних авточохлів</option>
                    <option value="TransmitionPeretiazka">Перетяжка КПП</option>
                    <option value="RepairSeats">Ремонт сидінь</option>
                    <option value="UnderAnkle">Перетяжка підлокітників</option>
                    <option value="MablesReapair">Перетяжка меблів</option>
                    <option value="EVAkarpets">EVA килимки</option>
                    <option value="AvtoNakidki">Автонакидки</option>
                </select>
                <label for="photo">Фото:</label>
                <input type="file" id="photo" name="photo" accept="image/*" required>
                <button type="submit">Додати фото</button>
            </form>
        </section>

        <section class="photo-section">
            <h2>Список фото по категорії</h2>
            <form id="categoryForm">
                <label for="photoCategory">Оберіть категорію:</label>
                <select id="photoCategory" name="category">
                    <option value="peretiazkaSalonu">Перетяжка салону</option>
                    <option value="peretiazkaWheel">Перетяжка Керма</option>
                    <option value="peretiazkaSteli">Перетяжка Стелі</option>
                    <option value="DoorKarts">Перетяжка дверних карт</option>
                    <option value="InstalChohli">Встановлення авточохлів</option>
                    <option value="IndividualChoxli">Виробництво модельних авточохлів</option>
                    <option value="TransmitionPeretiazka">Перетяжка КПП</option>
                    <option value="RepairSeats">Ремонт сидінь</option>
                    <option value="UnderAnkle">Перетяжка підлокітників</option>
                    <option value="MablesReapair">Перетяжка меблів</option>
                    <option value="EVAkarpets">EVA килимки</option>
                    <option value="AvtoNakidki">Автонакидки</option>
                </select>
                <button type="button" id="loadPhotos">Показати фото</button>
            </form>

            <div id="photosContainer"></div>
        </section>
    </main>
    <div id="DivToChangePhotoOrder">
        <a id="LinkToChangeImgOrder" href="/admin/edit/photo">Змінити порядок зображення</a>
    </div>

    <script src="/js/scriptForEdit.js"></script>
    
</body>
</html>
