<!-- errorPage.html -->
<html>
  <head>
    <link rel="icon" href="../img/errorIco.png" type="image/x-icon">
    <title>Помилка 404(Сторінки не існує)</title>
    <link rel="stylesheet" href="/css/error.css">
  </head>
  <body>
    <img src="../img/errorIco.png" alt="errorIco" height="100px" width="100px">
    <h1>Упс щось пішло не так</h1>
    <h1>Схоже сторінку яку ви хочете знайти не існує</h1>
    <h1><a href="/">Ось посилання на головну сторінку</a></h1>
  </body>
</html>
