<!-- errorPage.html -->
<html>
  <head>
    <title>Помилка 404</title>
  </head>
  <body>
    <h1>Помилка 404: Маршрут не знайдено</h1>
    <p>Цей маршрут не існує. Ви будете переадресовані на головну сторінку через 3 секунди.</p>
    <script>
      setTimeout(function() {
        window.location.href = '/'; // Перенаправлення на головну через 3 секунди
      }, 3000);
    </script>
  </body>
</html>
