<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/EVACarpet.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link rel="stylesheet" href="/css/textstilisation.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryEvaCarpets">EVA КИЛИМКИ,ОРГАНАЙЗЕРИ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
         <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
         <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <div id="imageModal" class="modal">
         <span class="close">&times;</span>
         <img id="modalImage" class="modal-content">
     </div>


     <div id="textDiv">
        <div id="textExplainDiv">
            <h1 id="nameOfDescriptionEvaCarpets1">EVA КИЛИМКИ та ОРГАНАЙЗЕРИ в багажник авто</h1>
        
            <h2 id="nameOfDescriptionEvaCarpets2">EVA Килимки</h2>
            <p id="nameOfDescriptionEvaCarpets3">Килимки виготовляємо з екологічно чистого матеріалу EVA (Етиленвінілацетат), який має унікальні властивості.</p>
        
            <h3 id="nameOfDescriptionEvaCarpets4">Переваги EVA килимків:</h3>
            <ul>
                <li id="nameOfDescriptionEvaCarpets5">Унікальна чарункова структура, яка утримує до 2 літрів води під нахилом 45°;</li>
                <li id="nameOfDescriptionEvaCarpets6">Всесезонна експлуатація – матеріал не змінює своїх властивостей від -50°C до +70°C;</li>
                <li id="nameOfDescriptionEvaCarpets7">Ідеальна посадка – пошиття за оригінальними лекалами з заводськими кріпленнями;</li>
                <li id="nameOfDescriptionEvaCarpets8">Висока зносостійкість – термін служби понад 7 років.</li>
            </ul>
        
            <h2 id="nameOfDescriptionEvaCarpets9">Органайзери в багажник авто</h2>
            <p id="nameOfDescriptionEvaCarpets10">Наші органайзери місткі, практичні та зручні у використанні.</p>
        
            <h3 id="nameOfDescriptionEvaCarpets11">Матеріали:</h3>
            <p id="nameOfDescriptionEvaCarpets12">Шиємо з EVA матеріалу та екошкіри, які забезпечують довговічність і практичність у використанні.</p>
        
            <h3 id="nameOfDescriptionEvaCarpets13">Переваги органайзерів:</h3>
            <ul>
                <li id="nameOfDescriptionEvaCarpets14">Зносостійкий та міцний матеріал EVA гарантує довгий термін служби;</li>
                <li id="nameOfDescriptionEvaCarpets15">Стійкість до морозу (-50°C) та спеки (+50°C), ультрафіолету та зимових хімреагентів;</li>
                <li id="nameOfDescriptionEvaCarpets16">Якісні застібки та липучки для надійного кріплення;</li>
                <li id="nameOfDescriptionEvaCarpets17">Простота догляду – достатньо просто промити водою під напором;</li>
                <li id="nameOfDescriptionEvaCarpets18">Не мнеться і зберігає форму навіть після тривалої експлуатації;</li>
                <li id="nameOfDescriptionEvaCarpets19">Зручні текстильні ручки для легкого транспортування.</li>
            </ul>
        </div>
        
     </div>
    
    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/translate/translateHeader.js" defer></script>
    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'EVAkarpets'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>