<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/MajorLogo.png" type="image/x-icon">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/EVACarpet.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link rel="stylesheet" href="/css/textstilisation.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryEvaCarpets">EVA КИЛИМКИ,ОРГАНАЙЗЕРИ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
         <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
         <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <div id="imageModal" class="modal">
         <span class="close">&times;</span>
         <img id="modalImage" class="modal-content">
     </div>


     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>EVA КИЛИМКИ та ОРГАНАЙЗЕРИ в багажник авто</h1>
        
            <h2><strong>Килимки</strong> виготовляємо з матеріалу EVA</h2>
            <h2>EVA екологічно чистий матеріал – Етиленвінілацетат</h2>
    
            <h2>ПЕРЕВАГИ :</h2>
            <ul>
                <li>Унікальна чарункова структура, яка утримує до 2 літрів води під нахилом 45°;</li>
                <li>Всесезонна експлуатація – матеріал не змінює своїх властивостей від -50°C до +70°C;</li>
                <li>Ідеально лежать - пошив за оригінальними лекалами з заводськими кріпленнями</li>
                <li>Висока зносостійкість, більше 7 років</li>
            </ul>
    
            <h2> <strong>Органайзери</strong>місткі, практичні і зручні у використанні</h2>
            <p>Шиємо з EVA матеріалу та екошкіри</p>
            <p>Зносостійкий міцний матеріал Ethylene Vinyl Acetate (EVA) забезпечить тривалий термін служби органайзеру, який залишиться в привабливому вигляді навіть після тривалої експлуатації.</p>
            <p>Організатор стійкий до морозу, високої температури (-50*C до + 50*C), ультрафіолету, зимових хімреагентів!</p>
            <p>Якісні застібки і липучки.Простота догляду і довговічність. Щоб очистити органайзер від забруднень, досить просто промити його під напором води. Органайзер не мнеться і тримає свою форму досить довго. З боків органайзеру закріплені текстильні ручки, щоб заповнений органайзер можна було зручно переставити в інше місце в разі потреби.</p>
        </div>
     </div>
     <div>
        <%- include('contact') %>
    </div>
    
    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'EVAkarpets'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>