<footer id="footer">
    <a href="https://www.instagram.com/automajor.com.ua?igsh=N2M3amh1MW9jY3N0"><img id="instaLogo" class="fotter_content" width="50px" height="50px" src="/img/InstaImg.png"></a>
    <a href="https://www.facebook.com/share/1ZKCsVqdJu/?mibextid=wwXIfr"><img id="faceBookLogo" class="fotter_content" width="50px" height="50px" src="/img/facebookImg.png"></a>
    <a href="https://www.tiktok.com/@automajor.com.ua?_t=ZM-8t9GUuJALgb"><img id="TikTokImg" class="fotter_content" width="50px" height="50px" src="/img/tiktokImg.png"></a>
    <div id="telDiv" class="fotter_content">
    <img id="telImg" width="50px" height="50px" src="/img/telephoneImg.png">
    <p id="telNum">+38(098)897-37-07</p>
    </div>
      <div id="mapDiv" class="fotter_content">
       <a href="https://www.google.com/maps/place/Avtomazhor+Avtochokhly+Viys%CA%B9kova+Amunitsiya/@50.3907108,30.2319634,17.42z/data=!4m10!1m2!2m1!1z0LLQvtC70L7QtNC40LzQuNGA0YHRjNC60LAgMzUg0LHRltC70L7Qs9C-0YDQvtC00LrQsCDQsNCy0YLQvtC80LDQttC-0YA!3m6!1s0x472b354251c8430d:0xe89dff4e74a45cc8!8m2!3d50.3913372!4d30.233716!15sCkfQstC-0LvQvtC00LjQvNC40YDRgdGM0LrQsCAzNSDQsdGW0LvQvtCz0L7RgNC-0LTQutCwINCw0LLRgtC-0LzQsNC20L7RgFpJIkfQstC-0LvQvtC00LjQvNC40YDRgdGM0LrQsCAzNSDQsdGW0LvQvtCz0L7RgNC-0LTQutCwINCw0LLRgtC-0LzQsNC20L7RgJIBFWNhcl9hY2Nlc3Nvcmllc19zdG9yZZoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VSTE9FbGxaRmRuRUFF4AEA!16s%2Fg%2F11qlc9mz5k?entry=ttu&g_ep=EgoyMDI0MTAwNS4yIKXMDSoASAFQAw%3D%3D"><img id="mapImg" width="50px" height="50px" src="../img/mapImg.png"></a>
       <p id="CorName">с Білогородка,вул Володимирська-35 Б</p>
    </div>
 </footer>