<footer id="footer">
   <button id="scrollToTop">
       <img src="/img/Arrow_upscroll.png" alt="Вгору">
   </button>
   <div id="mainFooterContent">
       <!-- Соцмережі в один ряд -->
       <div id="socials">
           <a href="https://www.instagram.com/automajor.com.ua?igsh=N2M3amh1MW9jY3N0">
               <img id="instaLogo" class="footer_content" width="50px" height="50px" src="/img/InstaImg.png">
           </a>
           <a href="https://www.facebook.com/share/1ZKCsVqdJu/?mibextid=wwXIfr">
               <img id="faceBookLogo" class="footer_content" width="50px" height="50px" src="/img/facebookImg.png">
           </a>
           <a href="https://www.tiktok.com/@automajor.com.ua?_t=ZM-8t9GUuJALgb">
               <img id="TikTokImg" class="footer_content" width="50px" height="50px" src="/img/tiktokImg.png">
           </a>
       </div>
    
       <!-- Телефон та карта в колонку -->
       <div id="contactInfo">
           <div id="telDiv" class="footer_content">
               <img id="telImg" width="50px" height="50px" src="/img/telephoneImg.png">
               <a href="tel:+380988973707" id="telNum">+38(098)897-37-07</a>
           </div>
           <div id="mapDiv" class="footer_content">
               <a href="https://maps.app.goo.gl/wohSgkcNGNQU6yM78">
                   <img id="mapImg" width="50px" height="50px" src="/img/mapImg.png">
               </a>
               <p id="CorName">с Білогородка, вул. Володимирська-35 Б</p>
           </div>
       </div>
   </div>

    <p class="footercompanyInfo">© 2025 АВТОМАЖОР. Усі права захищено.</p>
    <a href="https://t.me/tima_003" id="foundatorInfo" class="footercompanyInfo">Розробник: Тимченко Андрій </a>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
          const scrollToTopBtn = document.getElementById("scrollToTop");
      
          window.addEventListener("scroll", function () {
              if (window.scrollY > 400 && window.innerWidth <= 768) {
                  scrollToTopBtn.style.display = "block";
              } else {
                  scrollToTopBtn.style.display = "none";
              }
          });
      
          scrollToTopBtn.addEventListener("click", function () {
              window.scrollTo({ top: 0, behavior: "smooth" });
          });
      });
    </script>
      
      
 </footer>