<header>
    <div class="MainLogoOnHrader">
        <a id="MajorLogoHeader" href="/">
            <img width="100px" height="100px" src="/img/MajorLogo.png" alt="Major Logo">
        </a>
        <p id="NameOfWebSiteUnderMainLink">АвтоМажор</p>
    </div>

    <div class="nav-links">
        <div></div>
        <a id="mainLink" class="headercontent" href="/">Головна</a>
        <a class="headercontent" id="aboutUsLink" href="/#AboutUsText">Про нас</a>
        <div class="dropdown">
            <a class="headercontent" id="servicesLink" href="/#OurPoslugi">Послуги</a>
            <div class="dropdown-content">
                <a href="/INTERIOR_UPHOLSTERY">ПЕРЕТЯЖКА САЛОНУ</a>
                <a href="/STEERING_WHEEL_UPHOLSTERY">ПЕРЕТЯЖКА КЕРМА</a>
                <a href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">ПЕРЕТЯЖКА CТЕЛІ,СТІЙОК КОЗИРКІВ</a>
                <a href="/DOOR_PANELS_UPHOLSTERY">ПЕРЕТЯЖКА ДВЕРНИХ КАРТ</a>
                <a href="/INSTALLATION_OF_CAR_COVERS">ВСТАНОВЛЕННЯ АВТОЧОХЛІВ</a>
                <a href="/MANUFACTURING_OF_CUSTOM_CAR_COVERS">ВИРОБНИЦТВО МОДЕЛЬНИХ АВТОЧОХЛІВ</a>
                <a href="/GEAR_SHIFT_SELECTOR_UPHOLSTERY">ПЕРЕТЯЖКА СЕЛЕКТОРУ КПП</a>
                <a href="/SEAT_REPAIR_FOAM_RESTORATION">РЕМОНТ СИДІНЬ РЕСТАВРАЦІЯ ПОРОЛОНУ</a>
                <a href="/UPHOLSTERY_OF_ARMRESTS_AND_OTHER_INTERIOR_ELEMENTS">ПЕРЕТЯЖКА ПІДЛОКІТНИКІВ ТА ІНШИХ ЕЛЕМЕНТІВ САЛОНУ</a>
                <a href="/FURNITURE_UPHOLSTERY">ПЕРЕТЯЖКА МЕБЛІВ</a>
                <a href="/EVA_MATS_ORGANIZERS">EVA КИЛИМКИ,ОРГАНАЙЗЕРИ</a>
                <a href="/MANUFACTURING_OF_CAR_COVERS">ВИРОБНИЦТВО АВТОНАКИДОК</a>

            </div>
        </div>
        <a id="pricelink" class="headercontent" href="/prices">Ціни</a>
        <a class="headercontent" id="contactsLink" href="#footer">Контакти</a>
    </div>
    <div>
        <a class="headercontent nav-links" href="tel:+380988973707" id="telNumInHeader">+38(098)897-37-07</a>
    </div>
    
    <button id="menuToggle" class="menu-toggle" aria-label="Toggle menu">&#9776;</button>
    <script src="/js/headerAnimations.js"></script>
</header>
