<header>
    <a id="MajorLogoHeader" href="/"><img width="100px" height="100px" src="/img/MajorLogo.png" alt="Major Logo"></a>
    <a id="mainLink" class="headercontent" href="/">Головна</a>
    <a class="headercontent" id="aboutUsLink" href="/#AboutUsText">Про нас</a>
    <a class="headercontent" href="#OurPoslugi">Послуги</a>
    <a class="headercontent" href="/prices">Ціни</a>
    <a class="headercontent" href="#footer">Контакти</a>
 </header>