<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/InstalChohli.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">


</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryInstalChohli">ВСТАНОВЛЕННЯ АВТОЧОХЛІВ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
     </div>

     <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
            <h1 id="nameOfDescriptionInstalChohli1">Встановлення авточохлів</h1>
            <p id="nameOfDescriptionInstalChohli2">Наше автоательє не лише має власне , а також виконує їх встановлення. До того ж, ми надаємо послуги з встановлення авточохлів, які ви купили в інших виробників.</p>
            <a id="nameOfDescriptionInstalChohli21"  href="/MANUFACTURING_OF_CUSTOM_CAR_COVERS">виробництво авточохлів</a>
            <p id="nameOfDescriptionInstalChohli3">Пам’ятайте: професійне встановлення продовжить строк служби авточохлів. Правильно встановлені чохли – гарантія бездоганної посадки на сидіннях вашого авто.</p>
    
            <h2 id="nameOfDescriptionInstalChohli4">Як правильно підібрати авточохли?</h2>
            <p id="nameOfDescriptionInstalChohli5">Автомобільні чохли потрібно підбирати не універсальні, а під конкретну марку авто. Так ви будете впевнені, що розмір чохлів і сидінь на 100% співпадуть між собою.</p>
    
            <h2 id="nameOfDescriptionInstalChohli6">Види встановлення</h2>
            <p id="nameOfDescriptionInstalChohli7">Встановлення може бути стандартним або з ушиванням посадкових частин. Ми рекомендуємо другий варіант.</p>
            <h3 id="nameOfDescriptionInstalChohli8">Чому?</h3>
            <ul>
                <li id="nameOfDescriptionInstalChohli9">Продовжує строк служби авточохлів.</li>
                <li id="nameOfDescriptionInstalChohli10">Салон виглядає так, ніби було зроблено повну перетяжку сидінь.</li>
                <li id="nameOfDescriptionInstalChohli11">Підшивка авточохла до сидіння виконується без слідів і пошкоджень рідної оббивки.</li>
            </ul>
    
            <h2 id="nameOfDescriptionInstalChohli12">Як відбувається встановлення?</h2>
            <p id="nameOfDescriptionInstalChohli13">Щоб правильно і професійно встановити авточохли, потрібно:</p>
            <ul>
                <li id="nameOfDescriptionInstalChohli14">  1  Зняти всі сидіння.</li>
                <li id="nameOfDescriptionInstalChohli15">  2  Одягнути авточохли.</li>
                <li id="nameOfDescriptionInstalChohli16">  3  Встановити сидіння на місце.</li>
                <li id="nameOfDescriptionInstalChohli17">  4  Підключити всі роз'єми, щоб система працювала коректно.</li>
            </ul>
    
            <h2 id="nameOfDescriptionInstalChohli18">Скільки часу займає встановлення?</h2>
            <p id="nameOfDescriptionInstalChohli19">Процедура займає від 2 до 4 годин.</p>
            <p id="nameOfDescriptionInstalChohli20">Гарантія на роботу – 1 рік!</p>
           
        </div> 
     </div>

    <footer>
        <%- include('footer') %>
    </footer>
        
    <script src="/js/translate/translateHeader.js" defer></script>
    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'InstalChohli'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>