<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/MajorLogo.png" type="image/x-icon">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/InstalChohli.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link href="https://fonts.googleapis.com/css2?family=Clear+Sans:wght@400;700&display=swap" rel="stylesheet">



</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryInstalChohli">ВСТАНОВЛЕННЯ АВТОЧОХЛІВ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
     </div>

     <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Встановлення авточохлів</h1>
            <p>Наше автоательє не лише має власне <a href="/MANUFACTURING_OF_CUSTOM_CAR_COVERS">виробництво авточохлів</a> , а також виконує їх встановлення. До того ж, ми надаємо послуги з встановлення авточохлів, які ви купили в інших виробників.</p>
            <p><strong>Пам’ятайте:</strong> професійне встановлення продовжить строк служби авточохлів.</p>
            <p><strong>Правильно встановлені чохли </strong>– гарантія бездоганної посадки на сидіннях вашого авто. Автомобільні чохли потрібно підбирати не універсальні, а під конкретну марку авто, так ви будете впевнені, що розмір чохлів і сидінь на 100% співпадуть між собою. Встановлення може бути  стандартним або з ушиванням посадкових частин.</p>
    
            <h2>Ми рекомендуємо робити з ушиванням. </h2>
            <h2>Чому? Тому що це :</h2>
            <ul>
                <li>по-перше продовжує строк служби,</li>
                <li>по-друге салон з модельними чохлами , які встановили з ушиванням виглядає ніби зроблено перетяжку  сидінь. </li>
                <li>Ми робимо підшивку авточохла до сидіння автомобіля, без слідів і пошкодження рідної оббивки сидіння.</li>
            </ul>

            <h2>Як це відбувається?</h2>
            <p>Щоб правильно і професійно встановити авточохли потрібно зняти  всі сидіння. Одягнути авточохли. Встановити сидіння на місце. Ну  і звісно не забути підключити всі фішечки , щоб все працювало і не видавало помилку)))</p>
            <h2>Скільки часу займає встановлення?</h2>
            <p>Процедура займає від <strong>2 до 4 годин</strong>.</p>
            <p><strong>Гарантія на роботу – 1 рік!</strong></p>
        </div>
     </div>
     <div>
        <%- include('contact') %>
    </div>

    <footer>
        <%- include('footer') %>
    </footer>
        
    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'InstalChohli'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>