<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/MajorLogo.png" type="image/x-icon">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaSalonu.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link rel="stylesheet" href="/css/textstilisation.css">    
</head>
<body>
    <header>
        <%- include('header') %>
    </header>

     <div id="backphoto">
         <p id="BannerTextNmaeOfCategoryPeretiazkaSalonu">ПЕРЕТЯЖКА САЛОНУ</p>
        </div>
        
        <h3  id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
        <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
       </div>

       <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
        </div>


        <div id="textDiv">
            <div id="textExplainDiv">
                    <h1>Перетяжка та пошив салону</h1>
                    <p><span class="highlight">Перетяжка та пошив салону</span>- є одним із основних напрямків діяльності нашої компанії.</p>
                    <p>Повний рестайлінг інтер’єру – це перетяжка сидінь автомобіля шкірою, екошкірою, текстилем, алькантарою. Можна відтворити заводський дизайн чи, навпаки, додати індивідуальних елементів. Виконуємо як комплексну перетяжку салону, так і часткове перешиття сидінь. Ми продумуємо усе до дрібниць, використовуємо найякісніші матеріали та найоптимальніші рішення для перетяжки салону та <a href="/SEAT_REPAIR_FOAM_RESTORATION">ремонту сидінь</a> . </p>
            
                    <h2>Перетяжка салону авто може бути виконана в наступних варіаціях:</h2>
                    <ul>
                        <li><strong>Комплексна перетяжка</strong> виконується коли оригінальна обшивка салону зношена і потребує повної заміни або ж ви хочете кардинально змінити стиль салону вашого автомобіля. </li>
                        <li><strong>Перетяжка сидінь</strong> в залежності від ваших бажань може виконуватись як у комплексі з перетяжкою всього салону, так і окремо. У нашому ательє ви можете замовити перетяжку сидінь натуральною шкірою, алькантарою, автотканинами преміум класу  та оригінальним шкірзамінником</li>
                        <li><strong>Перетяжка елементів салону</strong> – це перетяжка <a href="/DOOR_PANELS_UPHOLSTERY">дверних карт</a>, <a href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">стелі</a>, <a href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">стійок</a>, <a href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">сонцезахисних козирків</a>, <a href="/STEERING_WHEEL_UPHOLSTERY">керма</a>, <a href="/GEAR_SHIFT_SELECTOR_UPHOLSTERY">чохла КПП</a>, <a href="/UPHOLSTERY_OF_ARMRESTS_AND_OTHER_INTERIOR_ELEMENTS">підлокітників</a> та інших елементів. Сюди ж можна віднести й заміну пошкоджених або деформованих елементів оббивки сидінь <a href="/SEAT_REPAIR_FOAM_RESTORATION">(ремонт сидінь)</a></li>
                    </ul>
            
                    <h2>Матеріали, які ми використовуємо для перетяжки автосалону</h2>
                    <p>Вибираючи матеріал для обшивки сидінь особливу увагу варто приділити експлуатаційним характеристикам. Матеріал повинен бути міцним, зносостійким, володіти стійкістю до забруднень, вологи та ультрафіолету. Сучасний  ринок пропонує великий асортимент, але як показує практичний досвід, найбільш затребуваними і надійними є  натуральна шкіра, алькантара, екошкіра і спеціальна автотканина.</p>
                    <p><strong>Оздоблення салону авто натуральною шкірою </strong>, по праву , займає перше місце Перевага шкіри – витримує великі перепади температур, стійка до впливу УФ-променів та стирання, міцна на розрив. Шкіра, яку ми використовуємо  – розроблена спеціально для оббивки автомобілів: вона покрита декількома захисними шарами та розрахована на експлуатацію в умовах підвищених фізичних навантажень.</p>
                    <p>Доглядати за шкірою легко: перші 2-3 роки її бажано протирати тканиною, змоченою в мильному розчині, далі – засобами для догляду за автошкірою. Що стосується недоліків шкіри, з часом через неправильний догляд шкіра може тьмяніти, розтягується або стискається.</p>
                    <p><strong>Відновлення салону авто алькантарою</strong> Тактильні відчуття у всіх нас різні. Тому, навіть сама практична оббивка, не завжди викликає захват. Наприклад, перфорована шкіра не дає відчуття м’якої текстури, яку забезпечує алькантара. Це синтетичний аналог натуральної замші. Взимку сидіння з алькантари не потребують додаткового підігріву.Влітку він вбирає вологу, тому ви не побачите на сидінні вологі відбитки. Алькантара не ковзає навіть при найкрутіших маневрах і може використовуватись для перетяжки сидінь спортивних автокарів</p>
                    <p> <strong>Відновлення салону авто автомобільною екошкірою</strong> Це один з популярних штучних матеріалів, розроблених спеціально для салонів автівок. В основі – бавовняна або поліефірна байка, а зверху поліуретанове покриття з мікропорами. Завдяки мікроотворам екошкіру називають “дихаючою”. Відрізняється вона невисокою вартістю та гіпоалергенністю. У догляді екошкіра невибаглива – серветка з мікрофібри, змочена в мильному розчині легко її відмиває. При значних забрудненнях можна застосовувати миючі засоби, розроблені спеціально для шкіри та вінілу (без похідних аміаку у складі).</p>
                    <p><strong>Тканина для автомобілів</strong> Спеціалізовані ткані матеріали для авто міцні на розрив, вони не змінюють відтінок від агресивних речовин для очищення та витримують професійну хімчистку. Тканини використовуються для оббивки сидінь, дверних карт, стійок, стелі.
                    <br>
                       Також ви можете замовити оббивку з кількох матеріалів. Комбінуючи екошкіру, алькантару та натуральну шкіру, ми створимо новий, ексклюзивний дизайн салону вашого авто.
                    </p>
            </div>
                
        </div>

        <div>
            <%- include('contact') %>
        </div>

    <footer>
        <%- include('footer') %>
    </footer>
    


    <script src="/js/photoloader.js"></script>
        <script>
             window.onload = function() {
             const category = 'peretiazkaSalonu'; // Категорія може бути динамічною
            loadPhotos(category);
             };
        </script>      
</body>
</html>