<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaDoor.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">


</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryPeretiazkaDoorCarts">ПЕРЕТЯЖКА ДВЕРНИХ КАРТ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
     </div>

     <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Перетяжка дверних карт</h1>
            <p><strong>Перетяжка дверних карт</strong> – надійний спосіб повернути дверям автомобіля презентабельний зовнішній вигляд і підкреслити індивідуальність салону. Вона може виконуватись як у комплексі з <a href="/INTERIOR_UPHOLSTERY">перетяжкою салону</a> , так і окремо.</p>
            <p>Це досить кропітка робота, як і все, що ми робимо в нашому автоательє. Вона потребує певних навичок, уваги та професіоналізму.</p>
            <h2>Який матеріал підходить для перетяжки дверних карт?</h2>
            <p>Для перетяжки дверних карт можна використовувати ті ж матеріали, що і для внутрішньої оббивки. Це може бути:</p>
            <ul>
                <li>Натуральна шкіра</li>
                <li>Екошкіра</li>
                <li>Автотканина</li>
                <li>Алькантара</li>
                <li>Вініл</li>
                <li>Та інші оригінальні автомобільні тканини</li>
            </ul>
            <p>Обшивка дверних карт повинна відповідати загальному стилю автомобіля, бути міцною і стійкою до механічних пошкоджень. Ми завжди враховуємо всі побажання наших замовників.</p>
        </div>
     </div>

    
    

    <footer>
        <%- include('footer') %>
    </footer>
    <script src="/js/translate/translateHeader.js" defer></script>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'DoorKarts'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>