<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/RestavraziaPidlokitnikiv.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link rel="stylesheet" href="/css/textstilisation.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="DivTitle">ПЕРЕТЯЖКА ПІДЛОКІТНИКІВ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
         <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
         <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <div id="imageModal" class="modal">
         <span class="close">&times;</span>
         <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Перетяжка підлокітників та інших елементів салону</h1>
            <p>У процесі користування підлокітник автомобіля, як і весь салон, зношується. Покриття втрачає свій зовнішній вигляд: з’являються потертості, тріщини. Саме тому до нас звертаються з проханням зробити перетяжку цього та інших елементів салону.</p>
    
            <h2>Який матеріал вибрати?</h2>
            <p>Матеріал для перетяжки повинен бути міцним, стійким до забруднень і водночас гармонійно вписуватись у загальний стиль салону авто. Ми рекомендуємо:</p>
            <ul>
                <li>Натуральну шкіру</li>
                <li>Оригінальний шкірзамінник</li>
                <li>Екошкіру</li>
                <li>Алькантару або їх поєднання</li>
            </ul>
            <p>Перераховані матеріали є найбільш практичними і зносостійкими, а значить, прослужать вам довгі роки.</p>
    
            <h2>Наші переваги</h2>
            <p>Наші майстри виконають професійну перетяжку будь-якого елемента салону, дотримуючись усіх технологій та з урахуванням ваших побажань.</p>
            <p><strong>Звертайтеся в АвтоМажор – повернемо салону вашого авто презентабельний вигляд!</strong></p>
        </div>
        </div>
        
     </div>

    <footer>
        <%- include('footer') %>
    </footer>
    <script src="/js/translate/translateHeader.js" defer></script>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'UnderAnkle'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>