<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaSalonu.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link rel="stylesheet" href="/css/textstilisation.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>

     <div id="backphoto">
         <p id="BannerTextNmaeOfCategoryPeretiazkaSalonu">ПЕРЕТЯЖКА САЛОНУ</p>
        </div>
        
        <h3  id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
        <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
       </div>

       <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
        </div>


     <div id="textDiv">
        <div id="textExplainDiv">
                <h1 id="nameOfDescriptionPeretiazkaSalonuText1">Перетяжка та пошив салону</h1>
                <p id="nameOfDescriptionPeretiazkaSalonuText2"><span class="highlight" id="nameOfDescriptionPeretiazkaSalonuText3">Перетяжка та пошив салону</span> є одним із основних напрямків діяльності нашої компанії.</p>
                <p id="nameOfDescriptionPeretiazkaSalonuText4">Повний рестайлінг інтер’єру – це перетяжка сидінь автомобіля шкірою, екошкірою, текстилем, алькантарою. Можна відтворити заводський дизайн чи, навпаки, додати індивідуальних елементів. Виконуємо як комплексну перетяжку салону, так і часткове перешиття сидінь.</p>
                <p id="nameOfDescriptionPeretiazkaSalonuText5">Ми продумуємо усе до дрібниць, використовуємо найякісніші матеріали та найоптимальніші рішення для перетяжки салону та ремонту сидінь.</p>
        
                <h2 id="nameOfDescriptionPeretiazkaSalonuText6">Перетяжка салону авто може бути виконана в наступних варіаціях:</h2>
                <ul>
                    <li id="nameOfDescriptionPeretiazkaSalonuText7"><strong>Комплексна перетяжка</strong> виконується, коли оригінальна обшивка салону зношена і потребує повної заміни або ж ви хочете кардинально змінити стиль салону вашого автомобіля.</li>
                    <li id="nameOfDescriptionPeretiazkaSalonuText8"><strong>Перетяжка сидінь</strong> – виконується як у комплексі з перетяжкою всього салону, так і окремо.</li>
                    <li id="nameOfDescriptionPeretiazkaSalonuText9"><strong>Перетяжка елементів салону</strong> – це перетяжка , </li>  
                    <a href="/DOOR_PANELS_UPHOLSTERY" id="LinkOnPagePeretiazkaSalonu1">дверних карт</a>
                    <a id="LinkOnPagePeretiazkaSalonu2" href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">стелі</a>,
                    <a id="LinkOnPagePeretiazkaSalonu3" href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">стійок</a>,
                    <a id="LinkOnPagePeretiazkaSalonu4" href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">сонцезахисних козирків</a>,
                    <a id="LinkOnPagePeretiazkaSalonu5" href="/STEERING_WHEEL_GEARSHIFT_HANDBRAKE_UPHOLSTERY">керма</a>,
                    <a id="LinkOnPagePeretiazkaSalonu6" href="/GEAR_SHIFT_SELECTOR_UPHOLSTERY">чохла КПП</a>,
                    <a id="LinkOnPagePeretiazkaSalonu7" href="/UPHOLSTERY_OF_ARMRESTS_AND_OTHER_INTERIOR_ELEMENTS">підлокітників</a> 
                    <li id="nameOfDescriptionPeretiazkaSalonuText10">та інших елементів.</li>
                </ul>
        
                <h2 id="nameOfDescriptionPeretiazkaSalonuText11">Матеріали, які ми використовуємо для перетяжки автосалону</h2>
                <p id="nameOfDescriptionPeretiazkaSalonuText12">Матеріал повинен бути міцним, зносостійким, володіти стійкістю до забруднень, вологи та ультрафіолету. Найбільш затребуваними є:</p>
                <ul>
                    <li id="nameOfDescriptionPeretiazkaSalonuText13">Натуральна шкіра – витримує великі перепади температур, стійка до УФ-променів та стирання.</li>
                    <li id="nameOfDescriptionPeretiazkaSalonuText14">Алькантара – синтетичний аналог замші, який забезпечує м'якість та комфорт.</li>
                    <li id="nameOfDescriptionPeretiazkaSalonuText15">Екошкіра – міцний та "дихаючий" матеріал, простий у догляді.</li>
                    <li id="nameOfDescriptionPeretiazkaSalonuText16">Автотканина – спеціальні тканини для автомобілів, які не змінюють відтінок та витримують хімчистку.</li>
                </ul>
        
                <h2 id="nameOfDescriptionPeretiazkaSalonuText17">Відновлення салону авто</h2>
                <p id="nameOfDescriptionPeretiazkaSalonuText18">Оздоблення натуральною шкірою займає перше місце серед матеріалів.</p>
                <p id="nameOfDescriptionPeretiazkaSalonuText19">Що стосується недоліків шкіри, з часом через неправильний догляд вона може тьмяніти, розтягуватись або стискатись.</p>
        
                <p id="nameOfDescriptionPeretiazkaSalonuText20">Відновлення алькантарою – чудовий варіант для тих, хто цінує комфорт. Вона не ковзає навіть при крутих маневрах.</p>
        
                <p id="nameOfDescriptionPeretiazkaSalonuText21">Відновлення екошкірою – один із популярних штучних матеріалів, що відрізняється гіпоалергенністю та простотою догляду.</p>
        
                <p id="nameOfDescriptionPeretiazkaSalonuText22">Тканина для автомобілів – спеціалізовані тканини, стійкі до розривів та забруднень.</p>
        
                <h2 id="nameOfDescriptionPeretiazkaSalonuText23">Комбінована оббивка</h2>
                <p id="nameOfDescriptionPeretiazkaSalonuText24">Також ви можете замовити оббивку з кількох матеріалів. Комбінуючи екошкіру, алькантару та натуральну шкіру, ми створимо новий, ексклюзивний дизайн салону вашого авто.</p>
        </div>
            
    </div>

    

    <footer>
        <%- include('footer') %>
    </footer>
    
    <script src="/js/translate/translateHeader.js" defer></script>


    <script src="/js/photoloader.js"></script>
        <script>
             window.onload = function() {
             const category = 'peretiazkaSalonu'; // Категорія може бути динамічною
            loadPhotos(category);
             };
        </script>      
</body>
</html>