<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaKerma.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">


</head>
<body>
    <header>
        <%- include('header') %>
    </header>

     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryPeretiazkaKerma">ПЕРЕТЯЖКА КЕРМА</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
        <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
       </div>

       <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
        </div>

        <div id="textDiv">
            <div id="textExplainDiv">
                <h1>Перетяжка керма</h1>
            <p>Зручне кермо – запорука вашої безпеки на дорозі. Адже швидкість повороту, яка важлива в критичних моментах, залежить від того, наскільки надійно ви тримаєте кермо. </p>
            <h2>5 причин оновити обшивку</h2>
            <ul>
                <li>не подобається оригінальна оббивка виробника в новому авто;</li>
                <li>знос: погіршення зовнішнього вигляду, виникнення потертостей, щілин;</li>
                <li>передпродажна підготовка;</li>
                <li>заміною обшивки керма можна досягти кращої тактильної взаємодії. Водієві стає зручніше керувати транспортним засобом, вдаються більш складні маневри, руки менше ковзають;</li>
                <li>змінити атмосферу в салоні.</li>
            </ul>
    
            <h2>Матеріали, які ми використовуємо для перетяжки керма</h2>
            <p><strong>Натуральна шкіра, каучуковий термовініл.</strong></p>
    
            <h2>Професійна перетяжка шкіри на кермі авто</h2>
            <p>Це в першу чергу робота з натуральною шкірою. Вона екологічна, довговічна і невибаглива в догляді.</p>
            <p>В каталозі майстерні – тільки перевірена часом автомобільна шкіра європейських виробників (Nappa, Monza, Catania, Dakota та інші). Гладка, структурна, перфорована.</p>
    
            <h3>Переваги:</h3>
            <ul>
                <li>представницький вигляд та відмінна якість;</li>
                <li>чудове зчеплення з руками. Шкіряна обшивка прекрасно лягає в руку, добре утримується, дозволяє відчути найменший рух керма;</li>
                <li>відмінна гігроскопічність не дає рукам ковзати;</li>
                <li>зносостійкість.</li>
            </ul>
            <p>Однак не менш популярним є перетяжка керма <strong>каучуковим термовінілом.</strong>  
                Термовініл для перетяжки керма буває гладкий з текстурою шкіри та перфорований.
                Перетягнуте каучуковим матеріалом кермо має презентабельний, престижний вигляд. Поверхня керма при цьому приємна на дотик - і в спеку, і в холод.
                Догляд за обтягнутими елементами салону дуже простий. Каучук досить регулярного протирання поверхні вологою тканиною та використання захисної поліролі з антистатичним ефектом. Не відрізняючись від натуральної шкіри на вигляд, каучуковий матеріал гармонійно поєднується з будь-якими матеріалами інтер'єру салону автомобіля. 
                </p>
            <h3>Переваги:</h3>
            <ul>
                <li>стійкий до стирання (гарантія пробігу керма понад 100 000 км);</li>
                <li>стійкий до перепадів температур: холоду та спеки;</li>
                <li>стійкий до сонячних променів;</li>
                <li>стійкий до різноманітних механічних, хімічних пошкоджень, а також до розчинників;</li>
                <li>приємний на дотик;</li>
                <li>нетоксичний;</li>
                <li>має різноманітні текстури та відтінки.</li>
            </ul>
            <p>Каучуковий матеріал використовується також для ручок, чохлів на важелі КПП, дверних карт, передніх панелей.</p>
            </div>
            
         </div>
    
    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'peretiazkaWheel'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

    
</body>
</html>