<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaSalonu.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link rel="stylesheet" href="/css/textstilisation.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>

     <div id="backphoto">
         <p id="DivTitle">ПЕРЕТЯЖКА САЛОНУ</p>
        </div>
        
        <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
        <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
       </div>

       <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
        </div>


     <div id="textDiv">
        <div id="textExplainDiv">
                <h1>Перетяжка та пошив салону</h1>
                <p><span class="highlight">Перетяжка та пошив салону</span> є одним із основних напрямків діяльності нашої компанії.</p>
                <p>Повний рестайлінг інтер’єру – це перетяжка сидінь автомобіля шкірою, екошкірою, текстилем, алькантарою. Можна відтворити заводський дизайн чи, навпаки, додати індивідуальних елементів. Виконуємо як комплексну перетяжку салону, так і часткове перешиття сидінь.</p>
                <p>Ми продумуємо усе до дрібниць, використовуємо найякісніші матеріали та найоптимальніші рішення для перетяжки салону та ремонту сидінь.</p>
        
                <h2>Перетяжка салону авто може бути виконана в наступних варіаціях:</h2>
                <ul>
                    <li><strong>Комплексна перетяжка</strong> виконується, коли оригінальна обшивка салону зношена і потребує повної заміни або ж ви хочете кардинально змінити стиль салону вашого автомобіля.</li>
                    <li><strong>Перетяжка сидінь</strong> – виконується як у комплексі з перетяжкою всього салону, так і окремо.</li>
                    <li><strong>Перетяжка елементів салону</strong> – це перетяжка <a href="/DOOR_PANELS_UPHOLSTERY">дверних карт</a>, <a href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">стелі</a>, <a href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">стійок</a>, <a href="/CEILING_PILLARS_SUN_VISORS_UPHOLSTERY">сонцезахисних козирків</a>, <a href="/STEERING_WHEEL_GEARSHIFT_HANDBRAKE_UPHOLSTERY">керма</a>, <a href="/GEAR_SHIFT_SELECTOR_UPHOLSTERY">чохла КПП</a>, <a href="/UPHOLSTERY_OF_ARMRESTS_AND_OTHER_INTERIOR_ELEMENTS">підлокітників</a> та інших елементів.</li>
                </ul>
        
                <h2>Матеріали, які ми використовуємо для перетяжки автосалону</h2>
                <p>Матеріал повинен бути міцним, зносостійким, володіти стійкістю до забруднень, вологи та ультрафіолету. Найбільш затребуваними є:</p>
                <ul>
                    <li><strong>Натуральна шкіра</strong> – витримує великі перепади температур, стійка до УФ-променів та стирання.</li>
                    <li><strong>Алькантара</strong> – синтетичний аналог замші, який забезпечує м'якість та комфорт.</li>
                    <li><strong>Екошкіра</strong> – міцний та "дихаючий" матеріал, простий у догляді.</li>
                    <li><strong>Автотканина</strong> – спеціальні тканини для автомобілів, які не змінюють відтінок та витримують хімчистку.</li>
                </ul>
        
                <h2>Відновлення салону авто</h2>
                <p><strong>Оздоблення натуральною шкірою</strong> займає перше місце серед матеріалів.</p>
                <p>Що стосується недоліків шкіри, з часом через неправильний догляд вона може тьмяніти, розтягуватись або стискатись.</p>
        
                <p><strong>Відновлення алькантарою</strong> – чудовий варіант для тих, хто цінує комфорт. Вона не ковзає навіть при крутих маневрах.</p>
        
                <p><strong>Відновлення екошкірою</strong> – один із популярних штучних матеріалів, що відрізняється гіпоалергенністю та простотою догляду.</p>
        
                <p><strong>Тканина для автомобілів</strong> – спеціалізовані тканини, стійкі до розривів та забруднень.</p>
        
                <h2>Комбінована оббивка</h2>
                <p>Також ви можете замовити оббивку з кількох матеріалів. Комбінуючи екошкіру, алькантару та натуральну шкіру, ми створимо новий, ексклюзивний дизайн салону вашого авто.</p>
        </div>
            
    </div>

    

    <footer>
        <%- include('footer') %>
    </footer>
    
    <script src="/js/translate/translateHeader.js" defer></script>


    <script src="/js/photoloader.js"></script>
        <script>
             window.onload = function() {
             const category = 'peretiazkaSalonu'; // Категорія може бути динамічною
            loadPhotos(category);
             };
        </script>      
</body>
</html>