<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaKPP.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">


</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryPeretiazkaKPP">ПЕРЕТЯЖКА СЕЛЕКТОРУ КПП</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
            <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
            <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
     </div>

     <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Перетяжка селектора КПП, ручки КПП, ручного гальма</h1>
            <p>може бути виконана як окремо, так і в комплексі з <strong> <a href="/STEERING_WHEEL_GEARSHIFT_HANDBRAKE_UPHOLSTERY">перетяжкою керма</a>, <a href="/UPHOLSTERY_OF_ARMRESTS_AND_OTHER_INTERIOR_ELEMENTS">підлокітників та інших елементів салону</a> </strong>. Постійний контакт із руками водія призводить до швидкого забруднення та зносу заводської обшивки. Покриття втрачає свій вигляд, з’являються потертості, тріщини.</p>

            <p>Ми використовуємо матеріали для перетяжки з високими експлуатаційними та естетичними якостями: стійкими до зношування, УФ-променів, вологи, хімічних речовин. Також важливі тактильні відчуття – ручка має бути приємна на дотик і не ковзати в руці. Такими властивостями володіють:</p>
            <ul>
                <li>натуральна шкіра,</li>
                <li>каучуковий термовініл</li>
            </ul>
        </div>
     </div>
     <div>
        <%- include('contact') %>
    </div>
    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'TransmitionPeretiazka'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>