<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaKPP.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    
     <div id="backphoto">
        <p id="DivTitle">ПЕРЕТЯЖКА СЕЛЕКТОРУ КПП</p>
     </div>

     <div id="textDiv">
        <h3>ПЕРЕТЯЖКА СЕЛЕКТОРУ КПП</h2>
        <br>
        <div id="textExplainDiv">
            <p>  
                Перетяжка ручки КПП, КПП, ручного гальма може бути виконана як окремо, так і в комплексі
                з перетяжкою керма, підлокотників та інших елементів салону. Постійний контакт з руками водія
                призводить до швидкого забруднення і зносу заводської обшивки, покриття втрачає свій зовнішній
                вигляд: з’являються потертості, тріщини.
                Ми використовуємо матеріали для перетяжки з високими експлуатаційними 
                та естетичними якостями: стійкими до зношування, УФ-променів, вологи,
                хімічних речовин. Також важливі тактильні відчуття – ручка має бути приємна
                на дотик і не ковзати в руці. Такими властивостями володіють:
                натуральна шкіра,
                каучуковий термовініл   
            </p>
        </div>

     </div>

     <div id="slider">
        <h3>НАШІ РОБОТИ</h3>
        <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>
    

    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'TransmitionPeretiazka'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>