<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaSalonu.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>

     <div id="backphoto">
        <p id="DivTitle">ПЕРЕТЯЖКА САЛОНУ</p>
     </div>

     <div id="textDiv">
        <h3>Перетяжка салону та пошив салону</h2>
            <br>
         <p>  є одним із основних напрямків діяльності нашої компанії.   
            Повний рестайлінг інтер’єру – це перетяжка сидінь автомобіля шкірою, екошкірою, текстилем, алькантарою. Можна відтворити заводський дизайн чи, навпаки, додати індивідуальних елементів. Виконуємо як комплексну перетяжку салону, так і часткове перешиття сидінь.
             Ми продумуємо усе до дрібниць, використовуємо найякісніші матеріали та найоптимальніші рішення для перетяжки салону та ремонту автосидінь. 
            Комплексна перетяжка виконується коли оригінальна обшивка салону зношена і потребує повної заміни або ж ви хочете кардинально змінити стиль салону вашого автомобіля. 
            </p>
            <br>
            <h3>Матеріали, які ми використовуємо для перетяжки автосалону</h2>
            <br>
            <p>
                Вибираючи матеріал для обшивки сидінь особливу увагу варто приділити експлуатаційним характеристикам. Матеріал повинен бути міцним, зносостійким, володіти стійкістю до забруднень, вологи та ультрафіолету. Сучасний  ринок пропонує великий асортимент, але як показує практичний досвід, найбільш затребуваними і надійними є  натуральна шкіра, алькантара, екошкіра і спеціальна автотканина.
                Оздоблення салону авто натуральною шкірою , по праву , займає перше місце
                Перевага шкіри – витримує великі перепади температур, стійка до впливу УФ-променів та стирання, міцна на розрив. Шкіра, яку ми використовуємо  – розроблена спеціально для оббивки автомобілів: вона покрита декількома захисними шарами та розрахована на експлуатацію в умовах підвищених фізичних навантажень.
                Відновлення салону авто алькантарою
            </p>
            <br>
            <p>    
                Тактильні відчуття у всіх нас різні. Тому, навіть сама практична оббивка, не завжди викликає захват. Наприклад, перфорована шкіра не дає відчуття м’якої текстури, яку забезпечує алькантара. Це синтетичний аналог натуральної замші. Матеріал порівняно недорогий, його легко чистити. Взимку сидіння з алькантари не потребують додаткового підігріву.Влітку він вбирає вологу, тому ви не побачите на сидінні вологі відбитки. Алькантара не ковзає навіть при найкрутіших маневрах і може використовуватись для перетяжки сидінь спортивних автокарів.
                Відновлення салону авто автомобільною екошкірою
                Це один з популярних штучних матеріалів, розроблених спеціально для салонів автівок. В основі – бавовняна або поліефірна байка, а зверху поліуретанове покриття з мікропорами. Завдяки мікроотворам екошкіру називають “дихаючою”. Відрізняється вона невисокою вартістю та гіпоалергенністю. У догляді екошкіра невибаглива – серветка з мікрофібри, змочена в мильному розчині легко її відмиває. При значних забрудненнях можна застосовувати миючі засоби, розроблені спеціально дляшкіри та вінілу (без похідних аміаку у складі).
                Тканина для автомобілів
                Спеціалізовані ткані матеріали для авто міцні на розрив, вони не змінюють відтінок від агресивних речовин для очищення та витримують професійну хімчистку. Тканини використовуються для оббивки сидінь, дверних карт, стійок, стелі.
                Також ви можете замовити оббивку з кількох матеріалів. Комбінуючи екошкіру, алькантару та натуральну шкіру, ми створимо новий, ексклюзивний дизайн салону вашого авто.
            </p>
     </div>

     <div id="slider">
        <h3>НАШІ РОБОТИ</h3>
        <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>
    

    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
        <script>
             window.onload = function() {
             const category = 'peretiazkaSalonu'; // Категорія може бути динамічною
            loadPhotos(category);
             };
        </script>      
</body>
</html>