<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/PeretiazkaKerma.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>

     <div id="backphoto">
        <p id="DivTitle">ПЕРЕТЯЖКА КЕРМА,КПП,РУЧНЕ ГАЛЬМО</p>
     </div>

     <div id="textDiv">
        <h3>ПЕРЕТЯЖКА КЕРМА ,РУЧКИ КПП </h2>
        <br>
        <div id="textExplainDiv">
            <p> 
                Зручне кермо – запорука вашої безпеки на дорозі. Адже швидкість повороту,
                яка важлива в критичних моментах, залежить від того, наскільки надійно ви тримаєте кермо.
            </p>
            <br>
            <h3>Перетяжка керма автомобіля: 5 причин оновити обшивку</h2>
            <br>
            <p id="textDec">
                •	не подобається оригінальна оббивка виробника в новому авто;
            <br>
               •	знос: погіршення зовнішнього вигляду, виникнення потертостей, щілин;
            <br>
                •	передпродажна підготовка;
            <br>
                •	заміною обшивки керма можна досягти кращої тактильної взаємодії. Водієві стає зручніше керувати
            <br>
                транспортним засобом, вдаються більш складні маневри, руки менше ковзають;
            <br>
                •	змінити атмосферу в салоні.   
            </p>
            <br>
            <p>    
                Матеріали, які ми використовуємо для перетяжки керма та КПП: натуральна шкіра, каучуковий  термовініл, екошкіра 
                Професійна перетяжка шкіри на кермі авто – це в першу чергу робота з натуральною шкірою. Вона екологічна, 
                довговічна і невибаглива в догляді. В каталозі майстерні – тільки перевірена часом автомобільна шкіра 
                європейських виробників (Nappa, Monza, Catania, Dakota та інші). гладка, структурна, перфорована.
                Перетягнуте каучуковим матеріалом кермо має презентабельний, престижний вигляд. Поверхня керма при цьому приємна на дотик 
                - і в спеку, і в холод.Догляд за обтягнутими елементами салону дуже простий. 
                Каучук досить регулярного протирання поверхні вологою тканиною та використання захисної поліролі з антистатичним ефектом.
                Не відрізняючись від натуральної шкіри на вигляд, каучуковий матеріал гармонійно поєднується з будь-якими матеріалами
                інтер'єру салону автомобіля. 
            <br>
            <br>
                Перетяжка ручки КПП, КПП, ручного гальма може бути виконана як окремо, так і в комплексі з перетяжкою керма, підлокотників
                та інших елементів салону. Постійний контакт з руками водія призводить до швидкого забруднення і зносу заводської обшивки,
                покриття втрачає свій зовнішній вигляд: з’являються потертості, тріщини.
                Ми використовуємо матеріали для перетяжки з високими експлуатаційними та естетичними якостями:
                стійкими до зношування, УФ-променів, вологи, хімічних речовин. Також важливі тактильні відчуття – ручка має бути приємна 
                на дотик і не ковзати в руці. Такими властивостями володіють: натуральна шкіра, каучуковий термовініл
   
   
            </p>
        </div>
        
     </div>

     <div id="slider">
        <h3>НАШІ РОБОТИ</h3>
        <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>
    
    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'peretiazkaWheel'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

    
</body>
</html>