<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/RestavrationMebliv.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryRestavrationMebliv">ПЕРЕТЯЖКА МЕБЛІВ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
         <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
         <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <div id="imageModal" class="modal">
         <span class="close">&times;</span>
         <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
         <h1>Перетяжка меблів</h1>
         <h1>Ми допоможемо, якщо:</h1>
         <ul>
             <li>ваші меблі були пошкоджені домашніми улюбленцями</li>
             <li>крісло, диван або стільці втратили свій колишній вигляд</li>
             <li>меблі було пошкоджено при переїзді</li>
             <li>колір або стиль тканини не пасує до нового дизнайну оселі</li>
             <li>улюблене крісло чи диван стали незручними і потребують ремонту</li>
         </ul>
         <p>В нашій майстерні ми робимо перетяжку диванів, крісел, стільців, офісних крісел, узголів'їв ліжок, кухонних куточків, диванних подушок</p>
         <p><strong>Матеріали , які ми використовуємо при роботі:</strong></p>
         <p>Натуральна шкіра, екошкіра, тканина антикіготь, рогожка та інші меблеві тканини від перевірених виробників.</p>

     </div>
    </div>
    

    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'MablesReapair'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>