<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/RestavrationSeats.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="DivTitle">РЕСТАВРАЦІЯ СИДІНЬ , ПАРАЛОНУ</p>
     </div>

     <div id="textDiv">
        <h3>РЕСТАВРАЦІЯ СИДІНЬ РЕСТАВРАЦІЯ ПАРАЛОНУ</h2>
            <br>
         <p>  Локальний ремонт автомобільних сидінь – це заміна зношених деталей оббивки, реставрація
              “просівшого” поролону, ушивання розтягнутих шкіряних елементів
              При ремонті сидінь ми ретельно підбираємо матеріал, щоб він максимально підійшов до рідної оббивки.
            <br>
            <br>
         </p>
            <h3>Це може бути :</h3>
            <br>
            <p>
            •	натуральна шкіра
            <br>
            •	алькантара
            <br>
            •	екошкіра або оригінальний шкірзамінник
            <br>
            •	автомобільні тканини
            <br>
         </p>
            <h3>Коли потрібна реставрація поролону?</h3>
            <br>
            <br>
          <p>
                Рано чи пізно при тривалій активній експлуатації автомобіля порушується жорсткість,
                форма та бічна підтримка сидінь , що виникають внаслідок зношування його поролонової 
                основи або поломки металевого каркасу. Через такі деформації анатомії сидіння у водія
                чи пасажира з'являються біль у спині та відчуття втоми після поїздки. До того ж, знижується
                концентрація уваги водія, тому зростає ризик ДТП.
            <br>
                Згодом поролон у сидінні починає проминатися, кришитися і рватися. Крім того, що це викликає
                дискомфорт при водінні, висока ймовірність появи дефектів та розривів оббивки при її контакті 
                з металевим корпусом. Для вирішення цієї проблеми слід звернутись до професіоналів, які займаються
                реставрацією поролонових подушок. 
            <br>
                При роботі важлива як якість використовуваних матеріалів, так і  професіоналізм фахівців. Майстри 
                компанії АвтоМажор відреставрують сидіння і всі м'які елементи крісла за доступною ціною . Ми не
                рекомендуємо самостійно займатися ремонтом поролонової основи, оскільки досягти бажаного результату
                самотужки майже неможливо і доводиться все переробляти.
                Вартість ремонту залежить від його обсягу: реставрації чи повної заміни наповнювача. 
                Ми пропонуємо повернення ергономічності та комфорту вашого крісла за найдоступнішими цінами 
            
            
            </p>
     </div>

     <div id="slider">
        <h3>НАШІ РОБОТИ</h3>
        <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>
    

    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'InstalChohli'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>