<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/RestavrationMebliv.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryRestavrationMebliv">ПЕРЕТЯЖКА МЕБЛІВ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
         <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
         <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <div id="imageModal" class="modal">
         <span class="close">&times;</span>
         <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
            <h1 id="nameOfDescriptionRestavrationMebliv1">Реставрація та перетяжка меблів</h1>
            <p id="nameOfDescriptionRestavrationMebliv2">
                З часом оббивка меблів зношується, втрачає привабливий вигляд і комфорт. Наші майстри професійно відреставрують ваші меблі, 
                повернувши їм первісний стан або навіть покращивши дизайн.
            </p>
        
            <h2 id="nameOfDescriptionRestavrationMebliv3">Який матеріал вибрати?</h2>
            <p id="nameOfDescriptionRestavrationMebliv4">
                Матеріал для реставрації повинен бути зносостійким, приємним на дотик і відповідати загальному стилю інтер’єру. Ми пропонуємо:
            </p>
            <ul>
                <li id="nameOfDescriptionRestavrationMebliv5">Натуральну шкіру</li>
                <li id="nameOfDescriptionRestavrationMebliv6">Оригінальний шкірзамінник</li>
                <li id="nameOfDescriptionRestavrationMebliv7">Екошкіру</li>
                <li id="nameOfDescriptionRestavrationMebliv8">Велюр, жакард, мікрофібру та інші меблеві тканини</li>
            </ul>
            <p id="nameOfDescriptionRestavrationMebliv9">
                Ми допоможемо підібрати матеріал, що відповідатиме вашим вимогам та гармонійно впишеться в інтер'єр.
            </p>
        
            <h2 id="nameOfDescriptionRestavrationMebliv10">Наші переваги</h2>
            <p id="nameOfDescriptionRestavrationMebliv11">
                Ми використовуємо тільки якісні матеріали та технології, які забезпечують довговічність реставрації. 
                Роботи виконуються швидко та професійно, враховуючи всі ваші побажання.
            </p>
            <p id="nameOfDescriptionRestavrationMebliv12">
                Звертайтеся в АвтоМажор – вдихнемо нове життя у ваші меблі!
            </p>
        </div>
        
     </div>
    

    <footer>
        <%- include('footer') %>
    </footer>
    <script src="/js/translate/translateHeader.js" defer></script>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'MablesReapair'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>