<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/MajorLogo.png" type="image/x-icon">
    <title>AutuMajor</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/RestavrationSeats.css">
    <link rel="stylesheet" href="/css/photoSlider.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/unifiedPattern.css">
    <link rel="stylesheet" href="/css/modalWindow.css">
    <link rel="stylesheet" href="/css/textstilisation.css">
    <link href="https://fonts.googleapis.com/css2?family=Clear+Sans:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <%- include('header') %>
    </header>
     <div id="backphoto">
        <p id="BannerTextNmaeOfCategoryRestavrationSeats">РЕСТАВРАЦІЯ СИДІНЬ,ПОРОЛОНУ</p>
     </div>

     <h3 id="NameOfRozdilOurWorks">НАШІ РОБОТИ</h3>
        
     <div id="slider">
         <div id="loadingSpinner" class="spinner"></div> <!-- Спінер -->
         <div id="photoGallery"></div> <!-- Сюди будуть додаватися фото -->
    </div>

    <div id="imageModal" class="modal">
         <span class="close">&times;</span>
         <img id="modalImage" class="modal-content">
     </div>

     <div id="textDiv">
        <div id="textExplainDiv">
            <h1>Ремонт сидінь та реставрація поролону</h1>
        <p><strong>Локальний ремонт</strong> – автомобільних сидінь – це заміна зношених деталей оббивки, реставрація “просівшого” поролону, ушивання розтягнутих шкіряних елементів</p>
        <p>При ремонті сидінь ми ретельно підбираємо матеріал, щоб він максимально підійшов до рідної оббивки.</p>

        <h2>Це може бути :</h2>
        <ul>
            <li>Натуральна шкіра</li>
            <li>Алькантара</li>
            <li>Екошкіра або оригінальний шкірзамінник</li>
            <li>Автомобільні тканини</li>
        </ul>

        <h2>Коли потрібна <strong>реставрація поролону?</strong></h2>
        <p>Рано чи пізно при тривалій активній експлуатації автомобіля порушується жорсткість, форма та бічна підтримка сидінь , що виникають внаслідок зношування його поролонової основи або поломки металевого каркасу. Через такі деформації анатомії сидіння у водія чи пасажира з'являються біль у спині та відчуття втоми після поїздки. До того ж, знижується концентрація уваги водія, тому зростає ризик ДТП.</p>
        <p>Згодом поролон у сидінні починає проминатися, кришитися і рватися. Крім того, що це викликає дискомфорт при водінні, висока ймовірність появи дефектів та розривів оббивки при її контакті з металевим корпусом. Для вирішення цієї проблеми слід звернутись до професіоналів, які займаються реставрацією поролонових подушок. </p>
        <p>При роботі важлива як якісність використовуваних матеріалів, так і  професіоналізм фахівців. Майстри компанії АвтоМажор відреставрують сидіння і всі м'які елементи крісла за доступною ціною . Ми не рекомендуємо самостійно займатися ремонтом поролонової основи, оскільки досягти бажаного результату самотужки майже неможливо і доводиться все переробляти.</p>
        <p><strong>Вартість</strong> ремонту залежить від його обсягу: реставрації чи повної заміни наповнювача. Ми пропонуємо повернення ергономічності та комфорту вашого крісла за найдоступнішими  <strong>цінами</strong> </p>
        </div>
     </div>

     <div>
        <%- include('contact') %>
    </div>
    <footer>
        <%- include('footer') %>
    </footer>

    <script src="/js/photoloader.js"></script>
    <script>
         window.onload = function() {
         const category = 'RepairSeats'; // Категорія може бути динамічною
        loadPhotos(category);
         };
    </script>

</body>
</html>